<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Bible Display Options 🛠</title>
    <link rel="stylesheet" href="options.css" />
  </head>
  <body>
    <script defer src="options.js" type="module"></script>
    <form id="optionsForm">
      <h1>🛠 Settings</h1>
      <div class="form-body">
        <div class="form-field" style="margin-bottom: 0">
          <label></label>
          <label for="rootPaddingTop" class="number-top-label">Top</label>
          <label for="rootPaddingRight" class="number-top-label">Right</label>
          <label for="rootPaddingBottom" class="number-top-label">Bottom</label>
          <label for="rootPaddingLeft" class="number-top-label">Left</label>
        </div>
        <div class="form-field">
          <label for="rootPaddingTop">Screen Padding</label>
          <input type="number" required min="0" max="200" name="rootPaddingTop" id="rootPaddingTop" />
          <input type="number" required min="0" max="200" name="rootPaddingRight" id="rootPaddingRight" />
          <input type="number" required min="0" max="200" name="rootPaddingBottom" id="rootPaddingBottom" />
          <input type="number" required min="0" max="200" name="rootPaddingLeft" id="rootPaddingLeft" />
          <div>px</div>
        </div>
        <div class="form-field">
          <label for="pageBackgroundColor">Page Background Color</label>
          <input type="color" required id="pageBackgroundColor" name="pageBackgroundColor" />
        </div>
        <div class="form-field">
          <label for="referenceColor">Reference Color</label>
          <input type="color" required id="referenceColor" name="referenceColor" />
        </div>
        <div class="form-field">
          <label for="referenceFontSize">Reference Font Size</label>
          <input type="number" required min="20" max="100" id="referenceFontSize" name="referenceFontSize" />
          <div>px</div>
        </div>
        <div class="form-field">
          <label for="verseNumberColor">Verse Number Color</label>
          <input type="color" required id="verseNumberColor" name="verseNumberColor" />
        </div>
        <div class="form-field">
          <label for="verseColor">Verse Color</label>
          <input type="color" required id="verseColor" name="verseColor" />
        </div>
      </div>
      <div id="settings-actions" class="actions">
        <a data-key="fill" class="fill"></a>
        <button data-key="save" class="action-btn" type="submit">💾 Save</button>
        <button data-key="defaults" class="action-btn" type="button">🔁 Defaults</button>
        <button data-key="cancel" class="action-btn" type="button">Cancel</button>
      </div>
    </form>
  </body>
</html>
