:root {
  --rootPaddingTop: 5px;
  --rootPaddingRight: 5px;
  --rootPaddingBottom: 5px;
  --rootPaddingLeft: 5px;
  --pageBackgroundColor: #000000;
  --pageBackgroundImgOpacity: 0;
  --referenceColor: #d3d3d3;
  --referenceFontSize: 40px;
  --referenceFontFamily: "Calibri";
  --verseFontFamily: "Calibri";
  --referenceLetterSpacing: 0.2rem;
  --verseNumberColor: #d3d3d3;
  --verseColor: #ffffff;
  --parallelVerseNumberColor: #ededb4;
  --parallelVerseColor: #eded33;
  --verseFontWeight: bold;
}

html {
  width: 100%;
}
body {
  width: 100%;
  margin: 0;
}
h1 {
  color: #0b5394;
  background: #edefef;
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #adafaf;
}
#optionsForm {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden; /* Prevent main from scrolling */
}
.form-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden; /* Prevent main from scrolling */
  /* TODO changing background will make #displayScreenPreview not visible... */
  /*background: #f5f5f5;*/
}
.content {
  flex: 1;
  overflow-y: auto; /* Allow content to scroll when needed */
  padding: 10px;
}
#settings-actions {
  background: #edefef;
  padding: 10px;
  border-top: 1px solid #adafaf;
}

#background-previews {
  display: flex;
  gap: 10px;
  max-width: calc(100vw - 100px);
  overflow-x: auto;
  padding: 10px;
}

#background-previews .background-preview {
  cursor: pointer;
}

/* from tab.css -> body */
.background-preview {
  position: relative;
  min-width: 141px;
  width: 141px;
  height: 80px;

  padding: 5px;

  border: 3px solid #cccccc;
  border-radius: 4px;
  background-color: var(--pageBackgroundColor);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  color: var(--verseColor);
}

h2.reference {
  font-weight: bold;
  font-variant-caps: small-caps;
  color: var(--referenceColor);
  font-family: var(--referenceFontFamily), Calibri, Arial, sans-serif;
  letter-spacing: var(--referenceLetterSpacing);
  font-size: 1.8em;
  margin: 0;
  text-shadow:
    1px 1px 1px var(--pageBackgroundColor),
    1px -1px 1px var(--pageBackgroundColor),
    -1px -1px 1px var(--pageBackgroundColor),
    -1px 1px 1px var(--pageBackgroundColor);
}
.background-preview p {
  font-size: 1.3em;
  font-family: var(--verseFontFamily), Calibri, Arial, sans-serif;
  font-weight: var(--verseFontWeight);
  text-shadow:
    1px 1px 1px var(--pageBackgroundColor),
    1px -1px 1px var(--pageBackgroundColor),
    -1px -1px 1px var(--pageBackgroundColor),
    -1px 1px 1px var(--pageBackgroundColor);
}
.clock-container:after {
  z-index: 1 !important;
  font-size: 14px;
}

#background-previews .background-preview:hover {
  outline: 3px solid #0b57d0;
}
.background-preview.selected {
  outline: 3px solid #238500;
}

#displayScreenPreview {
  width: 240px;
  height: 135px;
  border: 3px solid #0b57d0;
  z-index: -2;
}

#displayScreenPreview:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, var(--pageBackgroundImgOpacity));
  z-index: -1;
}

#settings-actions.actions {
  align-items: end;
}
.background-preview .actions .action-btn {
  font-size: 20px;
  padding: 4px 10px;
  border-color: #cccccc90;
  color: #cccccc90;
}
.background-preview:hover .action-btn {
  background: #000000dd;
}
.background-preview .action-btn:hover {
  border-color: #eeeeee;
  color: #eeeeee;
}
.background-preview .action-btn:active {
  border-color: #ffffff;
  color: #9b0000;
}

#settings-actions.actions .action-btn {
  font-size: 20px;
  padding: 4px 10px;
  margin: 0;
  border: 1px solid #adafaf;
  color: #000000;
  line-height: 1em;
  text-align: center;
}
#settings-actions.actions .action-btn:hover {
  background: #ffffff;
  border-color: #0b5394;
  color: #0b5394;
}
#settings-actions.actions .action-btn:active {
  border-color: #0b539490;
  color: #0b5394aa;
  transition: none;
}

fieldset {
  margin: 6px;
  max-width: 600px;
}
legend {
  font-weight: bold;
  padding: 0 5px 0 5px;
  font-size: 1.2em;
}

.form-field {
  margin: 6px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.form-field label:first-child {
  min-width: 13em;
  display: inline-block;
  text-align: right;
  font-weight: bold;
  padding: 3px 5px 5px 0;
  font-size: 1.2em;
}
fieldset .form-field,
.form-field > .form-field {
  margin: 6px 0;
}
fieldset .form-field label:first-child {
  min-width: 12em;
}
.form-field input[type="number"] {
  width: 45px;
  padding: 3px;
}
.form-field select {
  padding: 3px;
  min-width: 100px;
}
.form-field input[type="number"]:invalid {
  border: 2px solid #ff0000;
  background: #ff000030;
}
.input-top-label {
  width: 48px;
  padding: 3px;
  text-align: center;
  font-weight: bold;
}

input:focus,
select:focus {
  outline: 1px solid #3d79c2;
  border-color: #3d79c2;
}

.info-icon {
  text-decoration: none;
  border: 1px solid #999999;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

input[type="range"] {
  width: 300px;
}

@media screen and (max-height: 300px) {
  #optionsForm {
    overflow-y: visible;
  }
  .form-body {
    overflow-y: visible;
  }
  .content {
    overflow-y: visible;
  }
}
