<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>🛠 Bible Display Options</title>
    <link rel="stylesheet" href="../common/CustomScrollChrome.css" />
    <link rel="stylesheet" href="../common/clock-container.css" />
    <link rel="stylesheet" href="../common/action-btn.css" />
    <link rel="stylesheet" href="../common/color/picker.css" />
    <link rel="stylesheet" href="../common/simplePrompt/simplePrompt.css" />
    <link rel="stylesheet" href="options.css" />
    <script src="../common/utilities.js"></script>
    <!--    <script src="../../test/integration/storage.sync.js"></script>-->
  </head>
  <body>
    <script defer src="options.js" type="module"></script>

    <form id="optionsForm">
      <h1>🛠 Slide Master</h1>

      <div class="form-body">
        <section id="slides-master" class="content">
          <div class="actions">
            <h2></h2>
            <span data-key="fill" class="fill"></span>
            <button data-key="copy" class="action-btn" type="button" title="Copy">
              <svg
                width="24px"
                height="24px"
                viewBox="100 100 800 800"
                class="icon"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M589.3 260.9v30H371.4v-30H268.9v513h117.2v-304l109.7-99.1h202.1V260.9z" fill="#E1F0FF" />
                <path d="M516.1 371.1l-122.9 99.8v346.8h370.4V371.1z" fill="#E1F0FF" />
                <path d="M752.7 370.8h21.8v435.8h-21.8z" fill="#446EB1" />
                <path d="M495.8 370.8h277.3v21.8H495.8z" fill="#446EB1" />
                <path d="M495.8 370.8h21.8v124.3h-21.8z" fill="#446EB1" />
                <path d="M397.7 488.7l-15.4-15.4 113.5-102.5 15.4 15.4z" fill="#446EB1" />
                <path d="M382.3 473.3h135.3v21.8H382.3z" fill="#446EB1" />
                <path d="M382.3 479.7h21.8v348.6h-21.8zM404.1 806.6h370.4v21.8H404.1z" fill="#446EB1" />
                <path
                  d="M447.7 545.1h261.5v21.8H447.7zM447.7 610.5h261.5v21.8H447.7zM447.7 675.8h261.5v21.8H447.7z"
                  fill="#6D9EE8"
                />
                <path d="M251.6 763h130.7v21.8H251.6z" fill="#446EB1" />
                <path
                  d="M251.6 240.1h21.8v544.7h-21.8zM687.3 240.1h21.8v130.7h-21.8zM273.4 240.1h108.9v21.8H273.4z"
                  fill="#446EB1"
                />
                <path
                  d="M578.4 240.1h130.7v21.8H578.4zM360.5 196.5h21.8v108.9h-21.8zM382.3 283.7h196.1v21.8H382.3zM534.8 196.5h65.4v21.8h-65.4z"
                  fill="#446EB1"
                />
                <path
                  d="M360.5 196.5h65.4v21.8h-65.4zM404.1 174.7h152.5v21.8H404.1zM578.4 196.5h21.8v108.9h-21.8z"
                  fill="#446EB1"
                />
              </svg>
            </button>
            <button data-key="add" class="action-btn" type="button" title="Add new Slide">➕</button>
            <button data-key="remove" class="action-btn" type="button" title="Remove Slide">🗑</button>
          </div>
          <div id="slides-master-list" class="focus-lost"></div>
        </section>

        <section id="slide-config" class="content">
          <div class="form-field">
            <label for="slideName">Slide Name</label>
            <input type="text" required id="slideName" name="slideName" value="Main" placeholder="Main" class="text" />
          </div>
          <div class="form-field">
            <label for="slideDescription">Description</label>
            <input
              type="text"
              required
              id="slideDescription"
              name="slideDescription"
              class="text"
              value="Default Slide"
              placeholder="Default Slide"
            />
          </div>

          <hr />

          <div class="form-field" style="margin-bottom: 0">
            <label></label>
            <label for="rootPaddingTop" class="input-top-label">Top</label>
            <label for="rootPaddingRight" class="input-top-label">Right</label>
            <label for="rootPaddingBottom" class="input-top-label">Bottom</label>
            <label for="rootPaddingLeft" class="input-top-label">Left</label>
          </div>
          <div class="form-field" style="margin-top: 0">
            <label for="rootPaddingTop">Screen Padding</label>
            <input type="number" required min="0" max="500" value="5" name="rootPaddingTop" id="rootPaddingTop" />
            <input type="number" required min="0" max="500" value="5" name="rootPaddingRight" id="rootPaddingRight" />
            <input type="number" required min="0" max="500" value="5" name="rootPaddingBottom" id="rootPaddingBottom" />
            <input type="number" required min="0" max="500" value="5" name="rootPaddingLeft" id="rootPaddingLeft" />
            <div>px</div>
          </div>
          <div style="display: flex; flex-direction: row">
            <div style="flex: 1">
              <div id="pageBackgroundColor-field"></div>

              <div class="form-field">
                <label for="referenceFontSize">Reference Font Size</label>
                <input
                  type="number"
                  required
                  min="20"
                  max="200"
                  id="referenceFontSize"
                  value="40"
                  name="referenceFontSize"
                />
                <div>px</div>
              </div>
              <div class="form-field">
                <label for="referenceFontFamily">Reference Font Family</label>
                <input
                  type="text"
                  required
                  id="referenceFontFamily"
                  name="referenceFontFamily"
                  placeholder="Calibri, Arial, sans-serif"
                  class="text"
                />
                <a
                  href="https://developer.mozilla.org/en-US/docs/Web/CSS/font-family"
                  target="_blank"
                  title="Examples"
                  class="info-icon"
                >
                  ℹ
                </a>
              </div>
              <div id="referenceColor-field"></div>

              <hr />

              <div class="form-field">
                <label for="maxFontSize">Max Font Size</label>
                <input type="number" required min="20" max="200" id="maxFontSize" value="200" name="maxFontSize" />
                <div>px</div>
              </div>
              <div class="form-field">
                <label for="verseFontFamily">Verse Font Family</label>
                <input
                  type="text"
                  required
                  id="verseFontFamily"
                  name="verseFontFamily"
                  placeholder="Calibri, Arial, sans-serif"
                  class="text"
                />
                <a
                  href="https://developer.mozilla.org/en-US/docs/Web/CSS/font-family"
                  target="_blank"
                  title="Examples"
                  class="info-icon"
                >
                  ℹ
                </a>
              </div>

              <div class="form-field" style="margin-top: 0; margin-bottom: 0">
                <label for="verseNumberColor"></label>
                <label for="verseNumberColor-input" class="input-top-label" style="width: 92px">Primary</label>
                <label for="parallelVerseNumberColor-input" class="input-top-label" style="width: 92px">Parallel</label>
              </div>
              <div class="form-field" style="margin-top: 0; margin-bottom: 0">
                <label for="verseNumberColor-input">Verse Number Color</label>
                <div id="verseNumberColor-field"></div>
                <div id="parallelVerseNumberColor-field"></div>
              </div>
              <div class="form-field" style="margin-top: 0">
                <label for="verseColor-input">Verse Color</label>
                <div id="verseColor-field"></div>
                <div id="parallelVerseColor-field"></div>
              </div>
              <div class="form-field">
                <label for="verseFontWeight">Verses Font Weight</label>
                <select required id="verseFontWeight" name="verseFontWeight">
                  <option value="bold" selected>bold</option>
                  <option value="normal">normal</option>
                </select>
              </div>
              <div class="form-field">
                <label for="versesDisplay">Display Multiple Verses</label>
                <select required id="versesDisplay" name="versesDisplay">
                  <option value="inline" selected>inline</option>
                  <option value="block">in new line</option>
                </select>
              </div>
              <div class="form-field">
                <label for="actionsDisplay">Display Actions <span title="Fullscreen, Back, Next">❔</span></label>
                <select required id="actionsDisplay" name="actionsDisplay">
                  <option value="true" selected>yes</option>
                  <option value="false">no</option>
                </select>
              </div>
              <div class="form-field">
                <label for="clockPosition">Clock Position</label>
                <select required id="clockPosition" name="clockPosition">
                  <option value="none" selected>none</option>
                  <option value="top-right">top-right</option>
                  <option value="bottom-right">bottom-right</option>
                  <option value="bottom-left">bottom-left</option>
                </select>
              </div>
            </div>
          </div>

          <fieldset>
            <legend>Background Images</legend>
            <div id="background-previews"></div>
            <div class="form-field">
              <label for="pageBackgroundImage">Add Image</label>
              <input type="file" id="pageBackgroundImage" name="pageBackgroundImage" accept="image/*" />
            </div>
            <div class="form-field">
              <label for="pageBackgroundImgOpacity">Background Opacity</label>
              <input
                type="range"
                required
                min="0"
                max="1"
                step="0.05"
                id="pageBackgroundImgOpacity"
                name="pageBackgroundImgOpacity"
              />
              <div data-preview="pageBackgroundImgOpacity">0%</div>
            </div>
          </fieldset>

          <fieldset>
            <legend>Parallel Separator</legend>
            <div class="form-field" style="margin-bottom: 0">
              <label></label>
              <label for="parallelSeparatorTopHeight" class="input-top-label" style="width: 92px">Top</label>
              <label for="parallelSeparatorMiddleHeight" class="input-top-label" style="width: 92px">Middle</label>
              <label for="parallelSeparatorBottomHeight" class="input-top-label" style="width: 92px">Bottom</label>
            </div>
            <div class="form-field" style="margin-top: 0">
              <label for="parallelSeparatorTopHeight">Heights</label>
              <div style="width: 98px; text-align: center">
                <input
                  type="number"
                  required
                  min="0"
                  max="20"
                  value="1"
                  id="parallelSeparatorTopHeight"
                  name="parallelSeparatorTopHeight"
                />
              </div>
              <div style="width: 98px; text-align: center">
                <input
                  type="number"
                  required
                  min="0"
                  max="20"
                  value="1"
                  id="parallelSeparatorMiddleHeight"
                  name="parallelSeparatorMiddleHeight"
                />
              </div>
              <div style="width: 98px; text-align: center">
                <input
                  type="number"
                  required
                  min="0"
                  max="20"
                  value="1"
                  id="parallelSeparatorBottomHeight"
                  name="parallelSeparatorBottomHeight"
                />
              </div>
              <div>px</div>
            </div>
            <div class="form-field">
              <label for="parallelSeparatorTopColor-input">Colors</label>
              <div id="parallelSeparatorTopColor-field"></div>
              <div id="parallelSeparatorMiddleColor-field"></div>
              <div id="parallelSeparatorBottomColor-field"></div>
            </div>
          </fieldset>
        </section>
      </div>

      <div id="settings-actions" class="actions">
        <span data-key="fill" class="fill"></span>
        <button data-key="save" class="action-btn" type="submit">💾 Save</button>
        <button data-key="defaults" class="action-btn" type="button">🔁 Defaults</button>
        <button data-key="cancel" class="action-btn" type="button">Cancel</button>
      </div>
    </form>
  </body>
</html>
