<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>🔠 Bible Verses</title>
    <link rel="stylesheet" href="../common/action-btn.css" />
    <link rel="stylesheet" href="../common/clock-container.css" />
    <link rel="stylesheet" href="../common/dock-bar.css" />
    <link rel="stylesheet" href="tab.css" />
    <script src="../common/utilities.js"></script>
    <script src="../common/dock-bar.js"></script>
    <script src="marked.min.js"></script>
  </head>
  <body class="page-background-image">
    <div id="root" class="clock-container"></div>
    <div class="actions">
      <button type="button" data-key="F11" class="action-btn auto-hide" title="Enter/Exit Fullscreen">F11</button>
      <button type="button" data-key="ArrowLeft" class="action-btn" title="Up or Left">◀</button>
      <button type="button" data-key="ArrowRight" class="action-btn" title="Down or Right">▶</button>
    </div>
    <script src="tab.js" type="module"></script>
  </body>
</html>
