:root {
  --pageBackgroundColor: #000;
  --rootPadding: 65px 0 40px 0;
  --referenceColor: #ffffff;
  --referenceFontSize: 40px;
  --verseNumberColor: #ffffff;
  --verseColor: #ffffff;
}

html {
  height: 100%;
  overflow: hidden;
}
body {
  font-family: Calibri, Arial, sans-serif;
  font-weight: bold;
  min-height: 100%;
  background: var(--pageBackgroundColor);
  color: var(--verseColor);
  margin: 0;
  padding: 0;
}
#root {
  padding: var(--rootPadding);
}
h1 {
  color: var(--referenceColor);
  font-size: var(--referenceFontSize);
  margin: 0.2em 0 0.4em 0;
  /*
  padding: 0.2em 0.4em;
  margin: 0;
  display: inline-block;
  border: 2px solid var(--referenceColor);
  border-top-left-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
  */
}
h2 {
  color: #fff;
  font-size: 0.6em;
  margin: 0.2em 0.4em 0 0.4em;
}
p.parallel.separator:not(p:first-of-type) {
  border-top: 2px solid lightgrey;
  padding-top: 0.2em;
  margin-top: 0.2em;
}
p {
  margin: 0;
  padding: 0;
}
p > sup {
  color: var(--verseNumberColor);
  font-size: 0.6em;
}

.actions {
  display: flex;
  position: fixed;
  top: 5px;
  right: 5px;
  gap: 10px;
}
.actions a {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #cccccc30;
  color: #cccccc30;
}
.actions a:hover {
  border-color: #cccccc90;
  color: #cccccc90;
}
.actions a:active {
  border-color: #eeeeee;
  color: #eeeeee;
}
.focus-lost .actions {
  display: none;
}
