:root {
  --rootPaddingTop: 65px;
  --rootPaddingRight: 0px;
  --rootPaddingBottom: 40px;
  --rootPaddingLeft: 0px;
  --pageBackgroundColor: #000000;
  --referenceColor: #ffffff;
  --referenceFontSize: 40px;
  --verseNumberColor: #ffffff;
  --verseColor: #ffffff;
  --parallelSeparatorTopHeight: 1px;
  --parallelSeparatorMiddleHeight: 1px;
  --parallelSeparatorBottomHeight: 1px;
  --parallelSeparatorTopColor: #d3d3d3;
  --parallelSeparatorMiddleColor: #ffffff;
  --parallelSeparatorBottomColor: #d3d3d3;
}

/* basic reset */
html,
body,
ul,
p {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow: hidden;
}
body {
  font-family: Calibri, Arial, sans-serif;
  font-weight: bold;
  min-height: 100%;
  background: var(--pageBackgroundColor);
  color: var(--verseColor);
}
#root {
  padding: var(--rootPaddingTop) var(--rootPaddingRight) var(--rootPaddingBottom) var(--rootPaddingLeft);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: var(--referenceColor);
  font-size: 1.2em;
  margin: 0.2em 0.2em 0.2em 0.5em;
}
h2 {
  font-size: 1.15em;
}
h3 {
  font-size: 1.1em;
}
h4 {
  font-size: 1.05em;
}
h5 {
  font-size: 1.04em;
}
h6 {
  font-size: 1.03em;
}

ul {
  padding-inline-start: 1em;
}
li input[type="checkbox"]:disabled {
  height: 2.5em;
  width: 2.5em;
  cursor: pointer;
}
strong {
  text-shadow: 2px 2px 4px var(--referenceColor);
}

h1 {
  margin: 0.2em 0 0.4em 0;
}
h1.reference {
  font-size: var(--referenceFontSize);
}

p.parallel.separator:not(p:first-of-type):before {
  display: block;
  content: " ";
  position: relative;
  border-top: var(--parallelSeparatorTopHeight) solid var(--parallelSeparatorTopColor);
  line-height: 1px;
  font-size: 1px;
  height: var(--parallelSeparatorMiddleHeight);
  background-color: var(--parallelSeparatorMiddleColor);
  border-bottom: var(--parallelSeparatorBottomHeight) solid var(--parallelSeparatorBottomColor);
  padding-top: 0.2em;
  margin-top: 0.2em;
}

p.verse {
  display: inline;
}
p > sup {
  color: var(--verseNumberColor);
  font-size: 0.6em;
}

.actions {
  display: flex;
  position: fixed;
  top: 5px;
  right: 5px;
  gap: 10px;
}
.actions a {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #cccccc30;
  color: #cccccc30;
  transition: 0.2s;
}
.actions a:hover {
  border-color: #cccccc90;
  color: #cccccc90;
}
.actions a:active {
  border-color: #eeeeee;
  color: #eeeeee;
  transition: none;
}
.focus-lost .actions {
  display: none;
}
