:root {
  --rootPaddingTop: 5px;
  --rootPaddingRight: 5px;
  --rootPaddingBottom: 5px;
  --rootPaddingLeft: 5px;
  --pageBackgroundColor: #000000;
  --pageBackgroundImgOpacity: 0;
  --referenceColor: #d3d3d3;
  --referenceFontSize: 40px;
  --verseNumberColor: #d3d3d3;
  --verseColor: #ffffff;
  --parallelVerseNumberColor: #ededb4;
  --parallelVerseColor: #eded33;
  --verseFontWeight: bold;
  --versesDisplay: inline;
  --parallelSeparatorTopHeight: 1px;
  --parallelSeparatorMiddleHeight: 1px;
  --parallelSeparatorBottomHeight: 1px;
  --parallelSeparatorTopColor: #d3d3d3;
  --parallelSeparatorMiddleColor: #ffffff;
  --parallelSeparatorBottomColor: #d3d3d3;

  /* internal vars */
  --autoHideTimeout: 5s;
}

/* basic reset */
html,
body,
ul,
p {
  margin: 0;
  padding: 0;
}

ol {
  margin-left: 0.65em;
}

html {
  height: 100%;
  overflow: hidden;
}
body {
  font-family: Calibri, Arial, sans-serif;
  min-height: 100%;
  background-color: var(--pageBackgroundColor);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: var(--verseColor);
}

body:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, var(--pageBackgroundImgOpacity));
  z-index: -1;
}

#root {
  padding: var(--rootPaddingTop) var(--rootPaddingRight) var(--rootPaddingBottom) var(--rootPaddingLeft);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-variant-caps: small-caps;
  color: var(--referenceColor);
  text-shadow: 4px 2px 4px var(--pageBackgroundColor);
  font-size: 1.2em;
  margin: 0.2em 0 0.2em 0;
}
h2 {
  font-size: 1.15em;
}
h3 {
  font-size: 1.1em;
}
h4 {
  font-size: 1.05em;
}
h5 {
  font-size: 1.04em;
}
h6 {
  font-size: 1.03em;
}
#root > *:first-child {
  margin-top: 0;
}

.font-size-less-50 h1,
.font-size-less-50 h2,
.font-size-less-50 h3,
.font-size-less-50 h4,
.font-size-less-50 h5,
.font-size-less-50 h6 {
  text-shadow: 1px 1px 2px var(--verseColor);
}

ul {
  padding-inline-start: 1em;
}
li input[type="checkbox"]:disabled {
  height: 2.5em;
  width: 2.5em;
  cursor: pointer;
}
/*strong {*/
/*  text-shadow: 2px 2px 4px var(--referenceColor);*/
/*}*/
a {
  color: var(--verseColor);
  text-shadow: 2px 2px 4px var(--referenceColor);
}

h1.reference {
  /*font-size: var(--referenceFontSize);*/
  font-size: clamp(2vw, var(--referenceFontSize), 8vw);
  text-shadow: 4px 2px 4px var(--pageBackgroundColor);
}

p.parallel.separator:not(p:first-of-type):before {
  display: block;
  content: " ";
  position: relative;
  border-top: var(--parallelSeparatorTopHeight) solid var(--parallelSeparatorTopColor);
  line-height: 1px;
  font-size: 1px;
  height: var(--parallelSeparatorMiddleHeight);
  background-color: var(--parallelSeparatorMiddleColor);
  border-bottom: var(--parallelSeparatorBottomHeight) solid var(--parallelSeparatorBottomColor);
  margin: 10px 0;
}
p,
li {
  text-shadow: 4px 2px 4px var(--pageBackgroundColor);
  line-height: 1.3em;
}
p.verse {
  display: var(--versesDisplay);
  font-weight: var(--verseFontWeight);
  color: var(--verseColor);
}
p > sup {
  color: var(--verseNumberColor);
  font-size: 0.6em;
}
p.parallel.verse {
  color: var(--parallelVerseColor);
}
p.parallel.verse > sup {
  color: var(--parallelVerseNumberColor);
}

.auto-hide:not(.focus) {
  -moz-animation: hide-el-animation 0s ease-out var(--autoHideTimeout) forwards;
  -webkit-animation: hide-el-animation 0s ease-out var(--autoHideTimeout) forwards;
  -o-animation: hide-el-animation 0s ease-out var(--autoHideTimeout) forwards;
  animation: hide-el-animation 0s ease-out var(--autoHideTimeout) forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes hide-el-animation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
    border-color: transparent;
  }
}

.actions {
  position: fixed;
  top: 5px;
  right: 5px;
}

.focus-lost .actions {
  display: none;
}
