body .bible-reader .verse {
  line-height: 1.6em;
  display: block;
}

.verse .label {
  cursor: pointer;
  padding: 5px 5px 5px 8px !important;
  border-radius: 4px;
  border: 2px solid var(--verseNumberBorderColor);
  font-weight: bold;
}
.verse .label:after {
  content: " ";
}
.verse .label:hover {
  background: var(--verseNumberBackgroundHover);
  border-color: var(--verseNumberBorderColorHover);
}
.key-focus .verse .label:focus {
  border-color: var(--elBorderColorFocus);
}
.verse.projected .label {
  background: var(--verseNumberBackgroundProjected) !important;
  color: var(--verseNumberColorProjected) !important;
}
.focus-lost .verse.projected .label {
  background: var(--verseNumberBackgroundProjectedFocusLost) !important;
}
.note {
  display: none !important;
}

.focus-parallel .parallel-chapter .verse.projected .label,
.focus-primary .primary-chapter .verse.projected .label {
  border-color: var(--verseNumberBorderColorProjected) !important;
}

body .verse-action-footer .yv-button-bar .yv-button-bar-button .yv-button-bar-button-content {
  padding: 5px;
}
@media only screen and (min-width: 37.5em) {
  body .color-list .color {
    width: 20px;
    height: 20px;
    margin: 1px 5px 1px 0;
  }
}
body .color-list .carousel-standard {
  min-height: 28px;
}
body .color-list .carousel-standard .slick-arrow-left-container,
body .color-list .carousel-standard .slick-arrow-right-container {
  height: 20px;
}
/* TODO fix left arrow */
