#project-actions {
  position: fixed;
  background: #000000cc;
  z-index: 2000;
  left: 0;
  top: 0;
  right: unset;
  border-bottom-right-radius: 5px;
  align-items: stretch;
  gap: 5px;
}
#project-actions:hover {
  background: #000000;
}

.app-version {
  color: #ffffffa8;
  font-weight: normal;
}

.actions {
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.row-actions {
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.actions .fill {
  flex: 1;
}
.win-title {
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.actions .action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  min-width: 40px;
  user-select: none;
  text-decoration: none;
  font-size: 20px;
  padding: 4px;
  margin: 0;
  border-radius: 5px;
  border: 2px solid #cccccc90;
  color: #cccccc90;
  transition: 0.2s;
  line-height: 1em;
  text-align: center;
  -webkit-appearance: none;
  background-color: #2b3031;
  font-family: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
}
.actions .action-btn:hover {
  border-color: #eeeeee;
  color: #cccccc90;
}

.actions .action-btn.active,
.actions .action-btn:active {
  border-color: #ffffff;
  color: #eeeeee;
  transition: none;
}

.key-focus .actions .action-btn:focus {
  border-color: var(--elBorderColorFocus);
  filter: none;
}

.info-fixed-box {
  display: block;
  position: fixed;
  border: 1px solid rgb(0 0 0 / var(--infoBoxOpacity));
  background: rgb(0 0 0 / var(--infoBoxOpacity));
  box-shadow: 1px 1px 2px rgb(0 0 0 / var(--infoBoxOpacity));
  color: #ffffff;
  padding: 10px;
  z-index: 2000;
  right: unset;
  left: 55px;
  top: 4px;
  border-radius: 5px;
}
.info-fixed-box h1,
.info-fixed-box h2 {
  margin: 0.2rem 0 0.5rem 0;
  color: #ffffff;
  font-weight: bold;
}
.info-text-content-wrapper {
  flex: 1;
  overflow-y: auto;
  border: 2px solid #cccccc90;
  border-radius: 5px;
}
.info-fixed-box ul {
  padding: 0;
  margin: 0 0 0 1.2rem;
  line-height: 1.75em;
  list-style-type: circle;
}
.info-fixed-box a {
  color: #3d79c2;
  text-decoration: none;
}
.key-code {
  background-color: #222222;
  padding: 0.3rem 0.3rem;
  border-radius: 0.3em;
  border: 1px solid #ffffff40;
  font-family:
    ArialMT,
    Helvetica Neue,
    Arial,
    Liberation Sans,
    FreeSans,
    sans-serif;
}
.title .key-code {
  border: 2px solid #ffffff;
}
.key-code-padding {
  padding: 0.2rem 0.5rem;
}
h2 .key-code {
  border: 2px solid #ffffff;
}

#live-text-box .actions {
  padding: 0 0 10px 0;
}
.hide-view {
  display: none !important;
}
#live-text-box label {
  display: inline-block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}
#live-text-box input[type="checkbox"] {
  margin: 4px;
  height: auto !important;
}
.key-focus #live-text-box input[type="checkbox"]:focus {
  outline: 2px solid #3d79c2;
}
#live-text-box input[type="text"],
#live-text-box textarea {
  font-size: 0.92rem;
  color: rgba(0, 0, 0, 0.75);
}

#live-text-box ::-webkit-input-placeholder {
  color: #ccc;
}
#live-text-box :-moz-placeholder {
  color: #ccc;
}
#live-text-box ::-moz-placeholder {
  color: #ccc;
}
#live-text-box :-ms-input-placeholder {
  color: #ccc;
}

#verses-text-box {
  min-width: 165px;
  max-height: calc(100vh - 200px);
  min-height: 200px;
  display: flex;
  flex-direction: column;
}
#verses-text-box .actions {
  margin-bottom: 10px;
  padding: 0;
  align-items: stretch;
  gap: 5px;
}
#verses-text-box .footer-bar.actions {
  margin-top: 10px;
}
#verses-text-box table {
  width: 100%;
  background: transparent;
  margin-bottom: 0;
  border: 0;
}
#verses-text-box table tfoot {
  background: transparent;
}
#verses-text-box tfoot td {
  color: #cccccc90;
  font-weight: normal;
  font-style: italic;
}
#ref-preview {
  padding: 3px 5px;
  margin: 0;
  display: inline;
  font-size: 0.7em;
}
#ref-preview.matched {
  color: yellow;
  font-style: normal;
}
.key-focus #ref-preview:focus {
  outline: 2px solid #3d79c2;
}
#ref-preview:empty {
  display: none;
}

#verses-text-box table tr:nth-of-type(even) {
  background: #aaaaaa22;
}
#verses-text-box table td {
  padding: 1px;
}
#verses-text-box table td a {
  padding: 2px;
}
#verses-text-box table td:first-child {
  text-align: center;
}
#verses-text-box textarea {
  margin-bottom: 0;
  /*margin: 2px;*/ /* TODO Test with margin 2px */
  min-height: 200px;
  min-width: 140px;
  max-height: 390px;
  padding: 5px;
  resize: both;
  color: #000000;
  border-radius: 2px;
}
#verses-text-box a {
  color: #cccccc;
  transition: 0.2s;
}
.drag-row a,
#verses-text-box a:hover {
  color: #ffffff !important;
}
#verses-text-box a:active {
  color: #ffffff !important;
}
#verses-text-box a.focus {
  color: #ffffff;
}
.key-focus #verses-text-box a:focus {
  color: #ffffff;
  outline: 2px solid #3d79c2;
  border-radius: 2px;
}
#pin-search-bar.actions {
  align-items: center;
}
.input-trigger {
  display: flex;
  align-items: center;
  position: absolute;
  right: 14px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
#pin-add-verse {
  width: 120px;
  padding-right: 28px !important;
}
#pinned-verses-list {
  padding: 2px;
}
#pinned-verses-list a {
  display: block;
  cursor: pointer;
}
#verses-text-box .loading-mask::after {
  border-color: transparent #e1f0ff #e1f0ff;
}

.info-fixed-box .form-field {
  margin-bottom: 10px;
}
.info-fixed-box input[type="text"] {
  background: #ffffff;
  border-radius: 5px;
  width: 100%;
  padding: 0.3rem !important;
  margin: 0;
  color: #121212;
}
.form-field-wrapper {
  padding: 2px !important;
  background: #ffffff;
  border-radius: 5px;
}
.form-field-wrapper input,
.form-field-wrapper textarea {
  border: 2px solid transparent !important;
}
.form-field-wrapper input:hover,
.form-field-wrapper textarea:hover {
  border-color: #3d79c266 !important;
}
.form-field-wrapper input:focus,
.form-field-wrapper textarea:focus {
  border-color: #3d79c2 !important;
}

.shift-pressed .form-field-wrapper input:hover,
.shift-pressed .form-field-wrapper input:focus {
  --border-color: green !important;
  outline-color: #00aaaa !important;
}

#liveText {
  border-radius: 5px;
  margin: 0;
  min-height: 65px;
  min-width: 250px;
  padding: 0.57rem;
}

#help-text-box {
  max-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
}
ul.main-list {
  margin: 0 0 0 1.4rem;
}
#help-text-box li {
  padding: 2px;
}

ul.main-list > li {
  list-style-type: disc;
}
ul.main-list > li::marker {
  font-size: 1.2em;
  font-weight: bold;
  color: #2ca9bc;
}
#help-text-box .title {
  font-size: 1.2em;
  margin-top: 0.4em;
  margin-bottom: 0.2em;
}
#help-text-box .title .actions {
  display: inline-block;
  vertical-align: middle;
}
#help-text-box .info-text-content-wrapper {
  padding: 5px 5px 5px 15px;
}
#verses-text-box .info-text-content-wrapper {
  padding: 3px;
}
#help-text-box a {
  color: #9dc9ff;
}
#help-text-box a:hover {
  color: #eeeeee;
}
#help-text-box a:active {
  color: #ffffff;
}
#help-text-box .action-btn {
  margin-top: 2px;
  margin-bottom: 2px;
}

/* change svg stroke to light icons */
#help-text-box #clipboard-checklist path#primary,
#help-text-box #delete-alt path#primary {
  stroke: #ffffff !important;
}

.example-search {
  display: inline-flex;
  gap: 5px;
  align-items: center;
  padding: 0 0.3rem !important;
}
.example-btn {
  display: inline-block;
  margin-bottom: 2px;
  padding: 0.1rem 0.3rem;
  vertical-align: top;
}

.arrow-up:before {
  content: " ";
  position: absolute;
  left: 15px;
  top: -6px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #000000;
}
.arrow-up:after {
  content: " ";
  position: absolute;
  left: 16px;
  top: -4px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #333333;
}

.arrow-left:before {
  content: " ";
  position: absolute;
  left: -6px;
  top: 13px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #000000;
}
.arrow-left:after {
  content: " ";
  position: absolute;
  left: -4px;
  top: 14px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #333333;
}

.spin {
  position: relative;
}
.spin:after {
  content: "";
  position: absolute;
  border-width: 3px;
  border-style: solid;
  border-color: transparent #fff #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  animation: 2s linear 0s normal none infinite running spin;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*.drag-drop-cell {*/
/*  cursor: grab;*/
/*}*/
.remove-cell {
  text-align: center;
  user-select: none;
}
#verses-text-box td:first-child {
  border-left: 3px solid transparent;
}
.drag-row a.remove-btn {
  display: none !important;
}
.drag-row td:first-child::before {
  content: "::";
  color: #fff;
  font-weight: bold;
}

#verses-text-box .drag-row td:first-child {
  border-left-color: var(--verseNumberBorderColor);
}
#verses-text-box tbody tr:hover td:first-child {
  border-left-color: #ffffff60;
}
#verses-text-box tbody .selected td:first-child {
  border-left-color: #ffffff !important;
}
.shift-pressed #verses-text-box tbody tr:hover td:first-child {
  border-left-color: #00aaaa !important;
}
#verses-text-box a.remove-btn.spin {
  color: #cccccc22;
}

#display-settings-box .actions {
  padding: 0 0 10px;
}
.displays .action-btn:not(.active) {
  filter: grayscale(1);
  opacity: 0.5;
  border-color: #ffffff;
}
.displays .action-btn:not(.active):hover {
  opacity: 1;
}

.loading-mask {
  position: relative;
}
.loading-mask::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00000040;
  /* rgba(0, 0, 0, 0.25) */
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.loading-mask::after {
  content: "";
  text-align: center;
  position: absolute;
  border-width: 3px;
  border-style: solid;
  border-color: transparent #fff #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  animation: 2s linear 0s normal none infinite running spin;
  filter: drop-shadow(0 0 2 rgba(0, 0, 0, 0.33));
  line-height: initial;
  font-size: initial;
}

.text-mask::after {
  content: attr(data-text);
  animation: none;
  transition: 1s;
  color: #e1f0ff;
  width: auto;
  height: auto;
  padding: 2px 5px;
  border-radius: 4px;
  border-top-color: #e1f0ff !important;
}

.abp-badge {
  position: relative;
  overflow: visible;
}
.abp-badge:after {
  content: "";
  position: absolute;
  bottom: 4px;
  right: 3px;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  top: 3px;
  background-color: #ffaa32;
  box-shadow: 0 0 0 2px #ffffff;
}

a.abp-badge {
  padding: 0 16px 0 0;
  display: inline-block;
}

@keyframes attentionColorChange {
  0% {
    background: #ffaa32;
  }
  50% {
    background: #00aaaa;
  }
  100% {
    background: #ffaa32;
  }
}

@keyframes disabledColorChange {
  0% {
    background: #86888933;
  }
  45% {
    background: #86888933;
  }
  50% {
    background: #86888999;
  }
  55% {
    background: #86888933;
  }
  100% {
    background: #86888933;
  }
}

.abp-badge:after {
  animation: attentionColorChange 2s infinite;
}
.abp-badge-off {
  background-color: #86888933;
}
.abp-badge-off:after {
  box-shadow: 0 0 0 2px #aaaaaa;
  animation: disabledColorChange 10s infinite;
}

/* https://github.com/JosNun/night-mode-bible */
.night-mode #project-actions {
  box-shadow: 1px 1px 2px rgb(120 120 120 / var(--infoBoxOpacity));
}
.night-mode .info-fixed-box {
  border: 1px solid rgb(204 204 204 / var(--infoBoxOpacity));
  box-shadow: 1px 1px 2px rgb(120 120 120 / var(--infoBoxOpacity));
}
.night-mode .arrow-up:before {
  border-bottom: 6px solid rgb(204 204 204 / var(--infoBoxOpacity));
}
.night-mode .arrow-up:after {
  border-bottom: 5px solid #010103;
}
.night-mode .arrow-left:before {
  border-right: 6px solid rgb(204 204 204 / var(--infoBoxOpacity));
}
.night-mode .arrow-left:after {
  border-right: 5px solid #010103;
}
.night-mode .form-field-wrapper {
  background: rgba(255, 255, 255, 0.2) !important;
}
.night-mode .info-fixed-box input[type="text"] {
  background: #646464;
  color: #f9fafb;
}
.night-mode.focus-lost [class^="ChapterContent_verse"].projected [class^="ChapterContent_label"],
.night-mode [class^="ChapterContent_verse"].projected [class^="ChapterContent_label"] {
  color: var(--verseNumberBackgroundProjected) !important;
  background: var(--verseNumberColorProjected) !important;
}

.night-mode #search #primary {
  stroke: #ffffff !important;
}
