#project-actions {
  position: fixed;
  background: #000000cc;
  z-index: 2000;
  left: 0;
  top: 0;
  right: unset;
  border-bottom-right-radius: 5px;
  align-items: stretch;
  gap: 5px;
}
#project-actions:hover {
  background: #000000;
}

.actions {
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.row-actions {
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.actions .fill {
  flex: 1;
}
.actions .action-btn {
  display: inline-block;
  cursor: pointer;
  min-width: 40px;
  user-select: none;
  text-decoration: none;
  font-size: 20px;
  padding: 4px;
  margin: 0;
  border-radius: 5px;
  border: 2px solid #cccccc90;
  color: #cccccc90;
  transition: 0.2s;
  line-height: 1em;
  text-align: center;
  -webkit-appearance: none;
  background-color: #2b3031;
  font-family: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
}
.actions .action-btn:hover {
  border-color: #eeeeee;
  color: #cccccc90;
}

.actions .action-btn.active,
.actions .action-btn:active {
  border-color: #ffffff;
  color: #eeeeee;
  transition: none;
}

.info-fixed-box {
  display: block;
  position: fixed;
  border: 1px solid #000000;
  background: #333333;
  box-shadow: 1px 1px 2px #333333;
  color: #ffffff;
  padding: 10px;
  z-index: 2000;
  right: unset;
  left: 55px;
  top: 4px;
  border-radius: 5px;
}
.info-fixed-box h1,
.info-fixed-box h2 {
  margin: 0.2rem 0 0.5rem 0;
  color: #ffffff;
  font-weight: bold;
}
.info-text-content-wrapper {
  flex: 1;
  overflow-y: auto;
  border: 2px solid #cccccc90;
  border-radius: 5px;
}
.info-fixed-box ul {
  padding: 0;
  margin: 0 0 0 1.1rem;
  line-height: 1.75em;
  list-style-type: circle;
}
.info-fixed-box a {
  color: #3d79c2;
  text-decoration: none;
}
.key-code {
  background-color: #222222;
  padding: 0.2rem 0.3rem;
  border-radius: 0.3em;
  border: 1px solid #ffffff;
  font-family: ArialMT, Helvetica Neue, Arial, Liberation Sans, FreeSans, sans-serif;
}
.title .key-code {
  border: 2px solid #ffffff;
}
.key-code-padding {
  padding: 0.2rem 0.5rem;
}
h2 .key-code {
  border: 2px solid #ffffff;
}

#live-text-box .actions {
  padding: 0 0 10px 0;
}
.hide-view {
  display: none !important;
}
#live-text-box label {
  display: inline-block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}
#live-text-box input[type="checkbox"] {
  margin: 4px;
  height: auto !important;
}
#live-text-box input[type="text"],
#live-text-box textarea {
  font-size: 0.92rem;
  color: rgba(0, 0, 0, 0.75);
}

#live-text-box ::-webkit-input-placeholder {
  color: #ccc;
}
#live-text-box :-moz-placeholder {
  color: #ccc;
}
#live-text-box ::-moz-placeholder {
  color: #ccc;
}
#live-text-box :-ms-input-placeholder {
  color: #ccc;
}

#verses-text-box {
  min-width: 165px;
  max-height: calc(100vh - 200px);
  min-height: 200px;
  display: flex;
  flex-direction: column;
}
#verses-text-box .actions {
  padding: 0;
}
#verses-text-box .footer-bar.actions {
  margin-top: 10px;
}
#verses-text-box table {
  width: 100%;
  background: transparent;
  margin-bottom: 0;
  border: 0;
}
#verses-text-box table tfoot {
  background: transparent;
}
#verses-text-box tfoot td {
  color: #cccccc90;
  font-weight: normal;
  font-style: italic;
}
#ref-preview {
  padding: 3px 5px;
  margin: 0;
  display: inline;
  font-size: 0.7em;
}
#ref-preview.matched {
  color: #eeeeee;
  font-style: normal;
}
#ref-preview:empty {
  display: none;
}

#verses-text-box table tr:nth-of-type(even) {
  background: #00000022;
}
#verses-text-box table td {
  padding: 0.2rem;
}
#verses-text-box table td:first-child {
  text-align: center;
}
#verses-text-box textarea {
  margin-bottom: 0;
  min-height: 200px;
  min-width: 140px;
  max-height: 390px;
}
#verses-text-box a {
  color: #cccccc90;
  transition: 0.2s;
}
#verses-text-box a:hover {
  color: #eeeeee !important;
}
#verses-text-box a:active {
  color: #ffffff !important;
}
#verses-text-box a.focus {
  color: #eeeeee;
}

#pin-search-bar:after {
  content: "🔍";
  position: absolute;
  right: 14px;
  width: 24px;
  height: 24px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
#pin-add-verse {
  width: 120px;
  padding-right: 28px !important;
}
#pinned-verses-list a {
  cursor: pointer;
}

.info-fixed-box .form-field {
  margin-bottom: 10px;
}
.info-fixed-box input[type="text"] {
  border: 1px solid #d0d2d2;
  background: #ffffff;
  border-radius: 5px;
  width: 100%;
  padding: 0.57rem !important;
  margin: 0;
  color: #121212;
}

#liveText {
  border: 1px solid #d0d2d2;
  border-radius: 5px;
  margin: 0;
  min-height: 65px;
  min-width: 250px;
  padding: 0.57rem;
}
#liveTextTitle:focus,
#liveText:focus {
  outline: none;
  border-color: #3d79c2;
}

#help-text-box {
  max-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
}
#help-text-box .title {
  font-size: 1.2em;
  margin-top: 0.4em;
  margin-bottom: 0.2em;
}
#help-text-box .info-text-content-wrapper {
  padding: 5px;
}
#help-text-box a {
  color: #9dc9ff;
}
#help-text-box a:hover {
  color: #eeeeee;
}
#help-text-box a:active {
  color: #ffffff;
}
#help-text-box .action-btn {
  margin-top: 2px;
  margin-bottom: 2px;
}

.arrow-up:before {
  content: " ";
  position: absolute;
  left: 15px;
  top: -6px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #000000;
}
.arrow-up:after {
  content: " ";
  position: absolute;
  left: 16px;
  top: -4px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #333333;
}

.arrow-left:before {
  content: " ";
  position: absolute;
  left: -6px;
  top: 13px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #000000;
}
.arrow-left:after {
  content: " ";
  position: absolute;
  left: -4px;
  top: 14px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #333333;
}

.spin {
  position: relative;
}
.spin:after {
  content: "";
  position: absolute;
  border-width: 3px;
  border-style: solid;
  border-color: transparent #fff #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  animation: 2s linear 0s normal none infinite running spin;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#verses-text-box a.remove-btn.spin {
  color: #cccccc22;
}

#display-settings-box .actions {
  padding: 0 0 10px;
}
.displays .action-btn:not(.active) {
  filter: grayscale(1);
  opacity: 0.5;
  border-color: #ffffff;
}
.displays .action-btn:not(.active):hover {
  opacity: 1;
}
