#project-actions {
  position: fixed;
  background: #000000cc;
  z-index: 100;
  left: 0;
  top: 0;
  right: unset;
  border-bottom-right-radius: 5px;
  align-items: stretch;
  gap: 5px;
}
#project-actions:hover {
  background: #000000;
}

.actions {
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.row-actions {
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.actions .fill {
  flex: 1;
}
.actions .action-btn {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  font-size: 20px;
  padding: 4px;
  margin: 0;
  border-radius: 5px;
  border: 2px solid #cccccc90;
  color: #cccccc90;
  transition: 0.2s;
  line-height: 1em;
  text-align: center;
}
.actions .action-btn:hover {
  border-color: #eeeeee;
  color: #cccccc90;
}

.actions .action-btn.active,
.actions .action-btn:active {
  border-color: #ffffff;
  color: #eeeeee;
  transition: none;
}

.info-fixed-box {
  display: block;
  position: fixed;
  border: 1px solid #000000;
  background: #333333;
  box-shadow: 1px 1px 2px #333333;
  color: #ffffff;
  padding: 10px;
  z-index: 100;
  right: unset;
  left: 0;
  top: 0;
  border-radius: 5px;
}
.info-fixed-box h1,
.info-fixed-box h2 {
  color: #ffffff;
  font-weight: bold;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 6px;
}
.key-code {
  background-color: #222222;
  padding: 0.2rem 0.3rem;
  border-radius: 0.3em;
}
h2 .key-code {
  border: 2px solid #ffffff;
}

#live-text-box .actions {
  padding: 0 0 10px 0;
}
.hide-view {
  display: none !important;
}
#live-text-box label {
  display: inline-block;
  color: #ffffff;
}
#live-text-box input[type="checkbox"] {
  margin: 4px;
  height: auto !important;
}
#liveTextTitle {
  border: 1px solid #d0d2d2;
  background: #ffffff;
  border-radius: 5px;
  margin-bottom: 10px;
}
#liveText {
  margin: 0;
  min-height: 65px;
  min-width: 250px;
}

.arrow-up:before {
  content: " ";
  position: absolute;
  left: 15px;
  top: -6px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000;
}
.arrow-up:after {
  content: " ";
  position: absolute;
  left: 16px;
  top: -4px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #333333;
}

.arrow-left:before {
  content: " ";
  position: absolute;
  left: -6px;
  top: 13px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #000000;
}
.arrow-left:after {
  content: " ";
  position: absolute;
  left: -4px;
  top: 14px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid #333333;
}
