.actions {
  display: flex;
  gap: 10px;
}
.actions .fill {
  flex: 1;
}
.action-btn {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #cccccc30;
  color: #cccccc30;
  background-color: transparent;
  transition: 0.2s;
  -webkit-appearance: none;
}
.action-btn:hover {
  border-color: #cccccc90;
  color: #cccccc90;
}
.action-btn:active {
  border-color: #eeeeee;
  color: #eeeeee;
  transition: none;
}

.action-btn:focus,
.action-btn.focus {
  color: #cccccc30;
  border-color: #cccccc30;
  animation-name: focus-el-animation;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  -webkit-animation-name: focus-el-animation;
  -webkit-animation-duration: 0.2s;
}

@keyframes focus-el-animation {
  0% {
    /*border-color: #cccccc90;*/
    /*color: #cccccc90;*/
    border-color: #cccccc40;
    color: #cccccc40;
  }
  50% {
    /*border-color: #eeeeee;*/
    /*color: #eeeeee;*/
    border-color: #cccccc50;
    color: #cccccc50;
  }
  100% {
    /*border-color: #cccccc30;*/
    /*color: #cccccc30;*/
    border-color: #cccccc30;
    color: #cccccc30;
  }
}
