#dock-bar {
  position: fixed;
  box-sizing: border-box;
  left: 0;
  right: 0;
  bottom: -57px;
  /*height: 63px;*/
  padding: 5px 0;
  z-index: 1000;
  transition: bottom 0.5s ease-in-out; /* Animate the bottom property */
}
#dock-bar:hover,
#dock-bar.focused {
  bottom: 0;
}
#dock-actions {
  box-sizing: content-box;
  height: calc(100% - 15px);
  border: 1px solid #dddddd80;
  background: rgb(0 0 0 / var(--infoBoxOpacity));
  color: var(--verseColor);
  width: 250px;
  margin: 2px auto;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#dock-actions .pin-search-bar {
  box-sizing: content-box;
  width: 250px;
  display: flex;
  gap: 5px;
  align-items: center;
  flex: 1;
  color: rgb(18, 18, 18);
  background: transparent;
  border-radius: 5px;
  margin: 0;
  padding: 0 !important;
  position: relative;
}
#dock-actions .pin-search-bar::after {
  content: "🔍";
  position: absolute;
  /*right: 14px;*/ /* changed from 14 to 4 in this page... */
  right: 4px;
  width: 24px;
  height: 24px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
#dock-bar input {
  padding: 0.3rem !important;
  padding-right: 28px !important;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: #3d79c266 !important;
  border-image: initial !important;
  border-radius: 5px;
  display: block;
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  background: transparent;
  color: var(--referenceColor);
  outline: 0;
}
#dock-bar input:hover {
  border-color: #3d79c299 !important;
}
#dock-bar input:focus {
  border-color: #3d79c2 !important;
}
.shift-pressed #dock-bar input:focus {
  border-color: #00aaaa !important;
}
#dock-bar .fill {
  flex: 1 1 0%;
}

@media screen and (min-width: 1470px) {
  #dock-bar {
    bottom: -69px;
  }
  #dock-actions {
    width: 400px;
    font-size: 30px;
  }
  #dock-actions .pin-search-bar {
    width: 400px;
  }
  #dock-bar input {
    padding: 0.3rem 0.4rem !important;
    padding-right: 42px !important;
    font-size: 30px;
    line-height: 36px;
  }
  #dock-actions .pin-search-bar::after {
    right: 8px;
    width: 36px;
    height: 36px;
    font-size: 20px;
  }
}
