/**
 * not logged-in classes: yv-bible-text
 */

.yv-sticky-header-content {
  padding-left: 55px;
}

body .row,
body.c_pages.a_privacy .privacy_content {
  max-width: 90rem;
}
body .bible-reader-arrows-container {
  max-width: 100%;
}

body .yv-bible-text .verse .label {
  top: 0;
}

body #current-ui-view {
  padding: 110px 0 20px 55px;
  /* 55px for top-left actions */
}
body .yv-header .yv-sticky-header-content {
  padding-left: 55px;
  height: 60px;
}
/* links like: https://www.bible.com/ro/bible/126/JAS.5.13-18.NTR */
header.z-banner {
  padding-left: 55px;
}

body .reader-header {
  height: 50px;
}
body #react-app-Bible {
  padding-bottom: 20px;
}

body .chapter-picker-modal .chapter-container .chapter-list li {
  height: 40px;
}

body .yv-bible-text .verse.projected,
body .bible-reader .verse.projected {
  background: #cccccc80;
}
body .yv-bible-text .label,
body .bible-reader.primary-chapter .label,
body .bible-reader.parallel-chapter .label {
  display: inline;
}

#react-app-Footer {
  /* display: none; */
}
body .verse-action-footer.open {
  /* display: none; */
}
body .yv-footer .yv-footer-vertical-link-list li:first-child {
  margin-top: 10px;
}
body .yv-footer .yv-footer-vertical-link-list li {
  margin-top: 2px;
}
body .yv-footer hr {
  margin: 5px 0 5px;
}
body .version-copyright {
  font-size: 10px;
}

@media only screen and (min-width: 37.5em) {
  body .verse-action-footer {
    padding: 5px;
  }
}
@media screen and (min-width: 992px) {
  body .yv-footer {
    padding: 30px;
  }
  body .yv-footer .yv-footer-text {
    margin-top: 10px;
    font-size: 1.5rem;
  }
}

/* primary only */
@media only screen and (min-width: 64em) {
  .large-6 {
    width: 80%;
  }
}
