main > .w-full > .mbe-12 {
  padding-left: 100px;
}
body [class*="__verse"] {
  line-height: 1.6em;
  display: block;
  padding: 0 4px;
}

body [class*="__q"] {
  padding-inline-start: 0;
  text-indent: 0;
}

body [class*="__verse"] > [class*="__label"] {
  display: inline;
  cursor: pointer;
  padding: 5px 5px 5px 8px !important;
  border-radius: 4px;
  border: 2px solid var(--verseNumberBorderColor);
  font-weight: bold;
  top: -0.2em;
}
[class*="__label"]:after {
  content: " ";
}
[class*="__label"]:hover {
  background: var(--verseNumberBackgroundHover);
  border-color: var(--verseNumberBorderColorHover);
}
.key-focus [class*="__label"]:focus {
  border-color: var(--elBorderColorFocus);
}
[class*="__verse"].projected [class*="__label"] {
  background: var(--verseNumberBackgroundProjected) !important;
  color: var(--verseNumberColorProjected) !important;
}
.focus-lost [class*="__verse"].projected [class*="__label"] {
  background: var(--verseNumberBackgroundProjectedFocusLost) !important;
}

[class*="__note"] {
  display: none !important;
}

/* TODO test */
.focus-parallel .parallel-chapter [class*="__verse"].projected [class*="__label"],
.focus-primary .primary-chapter [class*="__verse"].projected [class*="__label"] {
  border-color: var(--verseNumberBorderColorProjected) !important;
}

#realTimeUpdates {
  display: inline-block;
}

.hide-popovers .z-popover {
  opacity: 0;
}

.sticky.justify-between a {
  opacity: 0.5;
}
.sticky.justify-between a:hover {
  opacity: 1;
}

body .gap-3 {
  gap: 6px;
}
body .mbs-10 {
  margin-block-start: 10px;
}
body .py-1\.5 {
  padding-block: 4px;
}
body .p-\[14px\] {
  padding-block: 2px;
}
body div.fixed .w-4 {
  width: 16px;
}
body div.fixed .h-4 {
  height: 16px;
}
body .p-3 {
  padding-block: 16px;
}
