:root {
  --verseNumberBorderColor: #d3d3d3;
  --verseNumberBackgroundHover: #eaf3fc;
  --verseNumberBorderColorHover: #d7237c88;
  --elBorderColorFocus: #3d79c2;
  --verseNumberColorProjected: #fff;
  --verseNumberBorderColorProjected: #d7237c;
  --verseNumberBackgroundProjected: #000;
  --verseNumberBackgroundProjectedFocusLost: #000;
}
